.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 24px;
  row-gap: 24px;
  max-width: 800px;
  margin: var(--space-xl) auto 0;
}

.paginationContainer {
  max-width: 800px;
  margin: var(--space-xl) auto 0;
  span {
    margin: 0 var(--space-md);
  }
}

.loaderContainer {
  display: flex;
  justify-content: center;
}

.paginationButton {
  background-color: var(--primary-color);
  padding: var(--space-xs);
}
