.overlay {
  background: rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-md);
}

.content {
  background: white;
  max-width: 400px;
  width: 100%;
}

.header {
  padding: var(--space-md);
  display: flex;
  align-items: center;
}

.title {
  flex: 1 1 0;
}

.close {
  margin: var(--space-md);
  padding: var(--space-md);
  cursor: pointer;
}

.body {
  border-top: 1px solid grey;
  padding: var(--space-md);
}
